<h2>Sign up</h2>

<%= form_for(@user, :url => registration_path(resource_name),:validate=>true) do |f| %>
  <%= devise_error_messages! %>
  <%=render "profile_form",:f=>f %>
  <div id="form-step-2">
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true,:validate => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div>
	  <%= f.submit "Sign up" %>
	  </div>
	</div>
<% end %>
<ul class="pager-new">
  <li class="submit-prev"><a  class="btn btn-primary" href="javascript:void(0)">Previous</a></li>
  <li class="submit-next"><a  class="btn btn-primary" href="javascript:void(0)">Next</a></li>
  <li class="submit-final"><a  class="btn btn-primary" href="javascript:void(0)">Next</a></li>
</ul>
<div class="cl"></div>
</br>


<%#= render "devise/shared/links" %>

<style>
	.pager-new{
		list-style: none outside none;
	}
	#form-step-2,.submit-prev,.submit-final{
		display:none;
	}
	.pager-new li{
		float:left;
		margin-right:10px;
	}
</style>
<script>

	$("#new_user").enableClientSideValidations();
	$('#myModal').on('shown.bs.modal', function () {
  	$(ClientSideValidations.selectors.forms).validate();
	});
	$(".submit-next").click(function(){
		var form = $("form#new_user");
		form.validate();
		form.submit();

		 
	});
	$(".submit-prev").click(function(){
		 $(".submit-prev,.submit-final,#form-step-2").hide();
		 $(".submit-next,#form-step-1").show();
		 
	});
	$(".submit-final").click(function(){

		$("#new_user").submit();
	});


</script>
