%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:validate=>true) do |f|
  = devise_error_messages!
  = render "profile_form"
  #form-step-2
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true,:validate => true
    %div
      = f.label :password
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
    %div
      = f.submit "Sign up"
%ul.pager-new
  %li.submit-prev
    %a.btn.btn-primary{:href => "javascript:void(0)"} Previous
  %li.submit-next
    %a.btn.btn-primary{:href => "javascript:void(0)"} Next
  %li.submit-final
    %a.btn.btn-primary{:href => "javascript:void(0)"} Next
.cl
:css
  .pager-new{
  	list-style: none outside none;
  }
  #form-step-2,.submit-prev,.submit-final{
  	display:none;
  }
  .pager-new li{
  	float:left;
  	margin-right:10px;
  }
:javascript
  $("#new_user").enableClientSideValidations();
  	$('#myModal').on('shown.bs.modal', function () {
    	$(ClientSideValidations.selectors.forms).validate();
  	});
  	$(".submit-next").click(function(){
  		 $(".submit-next,#form-step-1").hide();
  		 $(".submit-prev,.submit-final,#form-step-2").show();
  	});
  	$(".submit-prev").click(function(){
  		 $(".submit-prev,.submit-final,#form-step-2").hide();
  		 $(".submit-next,#form-step-1").show();
  		 
  	});
  	$(".submit-final").click(function(){
  		
  		$("#new_user").submit();
  	});
